@font-face {
  font-family: "MyHelvetica";
  src: url("fonts/Helvetica.ttf") format("truetype");
}
@font-face {
  font-family: "BabyDoll";
  src: url("fonts/BabyDoll.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color:#FFFEFE;

}

html, body{
  height: 100%;
  font-family: Helvetica
}

#name {
  display:inline-block;
  font-size: 40pt;
}


#Engineer{
  font-size: 18pt;
  padding-bottom: 1.5vh;
}

#title{  /*this is for the line between name and software engineer */
  width: 50vh; 
}

#Welcome{
  height: 100vh;
  padding-top: 37.5vh;
  margin-left: 10vh;
  justify-content: left; 
  align-items: left;     
  text-align: left;
}

#ViewWork{
  padding: 0.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: black;
  color:white;
  width: 7rem;      /* lock width */
  height: 2rem;      /* lock height */
  font-size: 0.75rem;   /* change only text size */
  font-weight: bold ;
}


.wrapper_Click_Me {
  position: fixed;    
  top: 92%;      
  left: 50%;
  transform: translateX(-50%);
  text-align: center;      
}

#clickMe {
  font-size: 0.9rem;
  font-family: "BabyDoll";
  background: transparent;
  margin-bottom: -50px;
}

#down-arrow {
  height: 150px;
  cursor: pointer;
  animation: bounce 4s infinite;
  background: transparent;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(12px);
  }
  60% {
    transform: translateY(6px);
  }
}
