@font-face {
  font-family: "MyHelvetica";
  src: url("fonts/Helvetica.ttf") format("truetype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  font-family: Helvetica
}

#name {
  display:inline-block;
  font-size: 40pt;
}


#Engineer{
  font-size: 18pt;
  padding-bottom: 1.5vh;
}

#title{  /*this is for the line between name and software engineer */
  width: 50vh; 
}

#Welcome{
  height: 100vh;
  padding-top: 37.5vh;
  margin-left: 10vh;
  justify-content: left; 
  align-items: left;     
  text-align: left;
}

#ViewWork{
  padding: 0.5rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: none;
  background-color: black;
  color:white;
  width: 7rem;      /* lock width */
  height: 2rem;      /* lock height */
  font-size: 0.75rem;   /* change only text size */
  font-weight: bold ;
}
